version: "3.9"

services:
{% set weapon_types = lookup('env', 'WEAPON_TYPES') | split(',') %}
{% for weapon_type in weapon_types %}
  {{ weapon_type.lower().replace('-', '_').replace(' ', '_') }}_global_parser:
    image: sprili/global_worker:${COMMIT}
    logging:
      driver: journald

{% endfor %}

  wss_parser:
    image: sprili/global_worker_wss:${COMMIT}
    logging:
      driver: journald
