version: "3.9"

x-db-credentials: &db_credentials
  POSTGRES_USER: ${POSTGRES_USER}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  POSTGRES_DB: ${POSTGRES_DB}
  POSTGRES_HOST: ${POSTGRES_HOST}
  POSTGRES_PORT: ${POSTGRES_PORT}

volumes:
  db:
    driver: local
  cache:
    driver: local

networks:
  parser_network:
    driver: bridge

services:
  db:
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    container_name: pg:16
    image: postgres
    restart: always
    volumes:
      - db:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "8080:5432"
    networks:
      - parser_network

  redis:
    container_name: redisdb
    image: redis:6.2-alpine
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PWD}
    ports:
      - "6379:6379"
    volumes: 
      - cache:/data
    networks:
      - parser_network

  chrome-node:
    image: {{ "seleniarm/standalone-chromium:latest" if ansible_architecture == 'arm64' else "selenium/standalone-chrome:latest" }}
    container_name: chrome-node
    hostname: chrome-node
    restart: always
    volumes:
      - /dev/shm:/dev/shm
    networks:
      - parser_network

  items:
    image: items_prices_parser
    container_name: items_prices_parser
    restart: always
    build:
      context: scrappers
      dockerfile: items_prices_parser/Dockerfile
    environment:
      REDIS_PWD: ${REDIS_PWD}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      CUSTOM_ALONE_NODE: chrome-node
    depends_on:
      - db
      - chrome-node
    networks:
      - parser_network
