.inventory-item {
    max-width: 148px;
    background-color: #363636;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
    flex: 0 1 calc(25% - 20px); /* Устанавливаем 25% ширины с отступами между элементами */
    box-sizing: border-box;
    border: 1px solid #4caf50; /* Добавляем обводку */
}

.inventory-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 5px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}